
/* Her sætter vi font type vi vil importere */
@font-face {
    font-family: "Avenir";
    src: url(../Font/Avenir.ttf) format("truetype");
}

/* Her slutter vi med at redigere header*/
/* Her starter vi med at redigere øverste gule område til forside*/

.baggrundsfarve
{
    background:#ffd700;
    margin:-8px;


}

.header
{
    padding-top: 25px;


}
.LogoText
{
    font-family: Avenir, "Times New Roman";

}

/* Her slutter vi med at redigere header*/

.forsideBillede
{
    width: 50%;
    /*margin: 30px;*/
    margin-top: 8px;
    float: right;
    border-radius: 200px 0px 0px 200px;

   /* position: relative; top: 140px; left: 550px;*/

}

.forsideTekst
{
    /*position: relative; top: 120px; left: 30px;*/
    float: left;
    width: 41%;
    font-family: Avenir, "Times New Roman";
    margin-left: 60px;
}

.OversteTekst {
    height: 400px;
    width: 100%;
    margin-top: -20px;
}

.Logo
{
    margin-left: 35px;
}

.overskrift
{
    /*position: relative; top: 175px; left: 10px;*/
    font-family: Avenir, "Times New Roman";
    font-size: 30px;
    margin-left: 180px;
    margin-top: 80px
}

.FactsOmMadspild
{
    text-align: center;
    font-family: Avenir, "Times New Roman";
    font-size: 30px;
}

.DanskeFacts
{
    text-align: center;
}

.kat
{
    text-align: center;
}

details > summary {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    font-family: Avenir, "Times New Roman";
    justify-content: center;
    padding: 4px;
    font-size: 25px;
    color: white;
    width: 400px;
    background-color: seagreen;
    cursor: pointer;
    list-style-type: none;
}

summary:hover{
    color:#ffd700;
}

details > p {
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 20px;
    font-size: 25px;
    background-color: seagreen;
    opacity: 90%;
    padding: 20px;
    width: 750px;
}

.dropdown
{
    float: right;
    font-size: 18px;
    margin-left: 500px;
    margin-right: 40px;
    margin-top: 70px;
    font-family: Avenir, "Times New Roman";
    justify-content: space-between;
}
.dropdown1, .dropdown2, .dropdown3
{
    margin-left: 25px;
    margin-right: 25px;
}

.hr2
{
    margin-left: 22%;
    margin-top: -7.5px;
    margin-bottom: 10px;
    border: 1.3px solid black;
}

.opdeling
{
    margin-left:-8%;
    margin-right: -8px;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 8px solid seagreen;
}

.bundBaggrund
{
    background: #ffd700;
    height: 500px;
    margin: -20px -8px 0 -8px;
}

.row
{
    display: flex;

}

.column
{
    flex: 25%;
    margin: 50px;
}

.bundknap1
{
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    font-family: Avenir, "Times New Roman";
    justify-content: center;
    padding: 4px;
    font-size: 25px;
    color: white;
    width: 400px;
    background-color: seagreen;
    cursor: pointer;
    list-style-type: none;
}

.bundknap2
{

}

.bundknap3
{

}



/* Start på footer redigering */

/*.Produktion
{
    float: right;
    padding: 0;
    display: inline-block;
    margin: 0;
    border-radius: 10px 10px 10px 10px;
}
.Forbruger
{
    border-radius: 10px 10px 10px 10px;
    padding: 0;
    display: inline-block;
    float: left;
    margin: 0;
}
.Detail
{
    margin: 0 auto;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    padding: 0;
}*/



/* Slut på footer redigering */

