<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI Projekt madspild 2023</title>
</head>
<link rel="stylesheet" href="../static/CSS/DetailStyle.css" />
<body>
<!-- Start af header -->
<div class = "baggrundsfarve">
    <header class = "header">
        <span class = "Logo">
            <a href="Forside.html"><img src="../static/Billeder/Logo.png" alt="Logo picture" width="100px" height="100px"></a>
        </span>
        <span class = "LogoText">
             ...FEEDING THE FUTURE
        </span>

        <span class = "dropdown">

            <span class = "textToPicture">
            </span>
            <span class = "dropdown1"><a class="topLinkFarve" href="Forbruger.html" style="text-decoration: none">FORBRUGER</a></span>
            <span class = "dropdown2"><a class="topLinkFarve" href="Detail.html" style="text-decoration: none">DETAIL</a></span>
            <span class = "dropdown3"><a class="topLinkFarve" href="Produktion.html" style="text-decoration: none">PRODUKTION</a></span>
        </span>
        <hr class = "hr2">

    </header>

    <!-- Slut af header -->
    <!-- Start af forside overskift + tekst + billede -->

    <div class = "OversteTekst">
        <div>
            <img src="../static/Billeder/Supermarked.jpg" alt="Main page picture" class = "forsideBillede">
        </div>
        <div>
            <h1 class = "overskrift">Danmark mod madspild</h1>
        </div>
        <div class = "forsideTekst">
            <p>Vidste I, at madspild er en af de største udfordringer, supermarkeder står over for? Det er ikke kun et spørgsmål om økonomi, men også omdømme og bæredygtighed.</p>
            <p>Ved at begrænse madspild kan vi ikke kun forbedre vores bundlinje, men også mindske den miljømæssige påvirkning og hjælpe med at bekæmpe fødevaremangel. </p>
            <p>Der er mange måder, vi kan reducere madspildet på, som f.eks. at købe varer i mindre mængder, sælge varer tæt på udløbsdatoen til nedsat pris og donere overskydende mad til lokale organisationer, der hjælper de trængende. Lad os alle arbejde sammen for at begrænse madspild og skabe en mere bæredygtig fremtid!</p>
        </div>
    </div>
</div>

<hr class = "opdeling">

<div class = "fBaggrund1">
    <img src="../static/Billeder/grøntsater.jpeg" alt="Main page picture" class = "forbrugerbillede1">
    <div class = "fSpan1">
        <p>Optimer produktionsprocesserne: Virksomheder kan overveje at optimere deres produktionsprocesser for at mindske spild. Dette kan omfatte at implementere mere præcise målinger og styring af ingredienser, justering af produktionslinjer for at reducere tab og affald, og overvågning af produktionen for at opdage og rette eventuelle problemer.</p>
        <p>Forbedr kvalitetskontrollen: Virksomheder kan investere i bedre kvalitetskontrol for at sikre, at produkterne er i overensstemmelse med de krævede standarder og derfor ikke bliver afvist og smidt væk på grund af fejl eller mangler.</p>
        <p>Optimer produktionsplanlægningen: Virksomheder kan planlægge deres produktion mere effektivt for at undgå overproduktion, som kan føre til spild. Dette kan omfatte at indsamle og analysere data om salgsprognoser og produktionstider, og bruge disse oplysninger til at justere produktionen og undgå overskud.</p>
    </div>
</div>

<div class = "fBaggrund2">
    <img src="../static/Billeder/SupermarkedKoleskab.Jpg" alt="Main page picture" class = "forbrugerbillede2">
    <div class = "fSpan2">
        <p>Implementer genanvendelsesprogrammer: Virksomheder kan implementere genanvendelsesprogrammer for at reducere spild og affald. Dette kan omfatte at genbruge ingredienser og rester til andre formål, som f.eks. dyrefoder, kompostering eller biogasproduktion.</p>
    </div>
</div>

<div class = "fBaggrund3">
    <img src="../static/Billeder/cleaningSupermarket.jpeg" alt="Main page picture" class = "forbrugerbillede3">
    <div class = "fSpan3">
        <p>Planlæg dine måltider: Planlæg dine måltider på forhånd, så du ved, hvad du vil spise i løbet af ugen. Tjek din madbeholdning i køleskabet, fryseren og skabe, og køb kun de nødvendige ingredienser for at undgå overkøb.</div></p>
</div>

<!-- Slut af forside valg af informationsside-->
<!-- Start af forside footer-->

<footer>
    <div class = "baggrundsfarveBund">
        <hr class = "opdelingBund">
    </div>
    <div class="footer-container">
        <div class="footer-content">
            <h3>BogBusters A/S 2023</h3>
            <p> Et ungt team med masser af gåpåmod og gode værdier.</p>
        </div>
        <div class="footer-content">
            <h3>Samarbejdspartnere</h3>
            <ul>
                <li><a href="https://stopspildafmad.org/">Stop Spild Af Mad</a></li>
                <li><a href="https://chat.openai.com/">Chat GPT</a></li>
                <li><a href="https://foedevarebanken.dk/">FødevareBanken</a></li>
                <li><a href="https://www.kongehuset.dk/">Kongehuset</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Kontakt os</h3>
            <p>KEA<br>Nørrebro, Danmark<br>DK</p>
            <p>Tlf: 12345678<br>Email: hejmeddig@banan.dk</p>
        </div>
    </div>
    <div>
        <hr class = "opdelingBund">
    </div>
</footer>

<!-- Slut af forside footer-->

</body>
</html>