<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI Projekt madspild 2023</title>
</head>
<link rel="stylesheet" href="../static/CSS/MyStyles.css" />
<body>
<header class = "header">
    <span class = "Logo">
        <img src="../static/Billeder/Logo.png" alt="Logo picture" width="100px" height="100px">
    </span>
    <span class = "LogoText">
         ...FEEDING THE FUTURE
    </span>

    <span class = "dropdown">

        <span class = "textToPicture">
        </span>
        <span class = "dropdown1">
                FORBRUGER
            </span>
        <span class = "dropdown2">
                VIRKSOMHED
            </span>
        <span class = "dropdown3">
                PRODUKTION
        </span>
    </span>
    <hr class = "hr2">
</header>
<div class = "overskrift">
    <h1>Food waste facts</h1>
    <span>information</span>
    <span>
        <img src="../static/Billeder/Cornfield.jpg" alt="Main page picture">
    </span>
</div>
<div class = "FactsOmMadspild">
    <div>
        Dropdown med facts overskrift
    </div>
    <div>
        Dropdown med facts 1
    </div>
    <div>
        Dropdown med facts 2
    </div>
    <div>
        Dropdown med facts 3
    </div>
</div>
<div class = "DanskeFacts">
    <div>
        Dropdown med facts overskrift
    </div>
    <div>
        Dropdown med facts 1
    </div>
    <div>
        Dropdown med facts 2
    </div>
    <div>
        Dropdown med facts 3
    </div>
</div>
<div>
    <span>Forbruger + billede</span>
    <span>Virksomhed + billede</span>
    <span>Organisation + billede</span>
</div>
</body>
</html>