<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI Projekt madspild 2023</title>
</head>
<link rel="stylesheet" href="../static/CSS/MyStyles.css" />
<body>

<!-- Start af header -->

<header class = "header">
    <span class = "Logo">
        <img src="../static/Billeder/Logo.png" alt="Logo picture" width="100px" height="100px">
    </span>
    <span class = "LogoText">
         ...FEEDING THE FUTURE
    </span>

    <span class = "dropdown">

        <span class = "textToPicture">
        </span>
        <span class = "dropdown1">
                FORBRUGER
            </span>
        <span class = "dropdown2">
                VIRKSOMHED
            </span>
        <span class = "dropdown3">
                PRODUKTION
        </span>
    </span>
    <hr class = "hr2">
</header>

<!-- Slut af header -->
<!-- Start af forside overskift + tekst + billede -->

<div class = "OversteTekst">
      <div>
        <img src="../static/Billeder/Cornfield.jpg" alt="Main page picture" class = "forsideBillede">
    </div>
    <div>
        <h1 class = "overskrift">Food waste facts</h1>
    </div>
    <div class = "forsideTekst">
        Det første inkafolk bestod af en indianerstamme nær Cuzco, som i det 12. århundrede oprettede bystaten Qosqo (Spansk: Cuzco). Det skete under ledelse af den første inka, Manco Capac, som bl.a. indførte de første love og desuden blev tilbedt som søn af solguden Inti; af den grund blev de efterfølgende inkaherskere ligeledes regnet for solens sønner. Historikere mener, at Manco Capac var høvding for nogle hulefolk, som han ledte fra Titicaca-højlandet til Cuzco for at slå sig ned som agerbrugere. Selvom Manco Capac regerede i 40 år blev det først en af de senere inkakejsere, som satte gang i udvidelsen af inkariget.
    </div>
</div>

<!-- Slut af forside overskift + tekst + billede -->
<!-- Start af forside dropdown facts -->

<div class = "FactsOmMadspild">
    <div>
        Dropdown med facts overskrift
    </div>

    <div class="dropdowntn">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
           <p> yo </p>
        </div>
    </div>

    <div>
        Dropdown med facts 1
    </div>

    <div>
        Dropdown med facts 2
    </div>
    <div>
        Dropdown med facts 3
    </div>
</div>

<!-- Slut af forside dropdown facts -->
<!-- Start af forside dropdown danske facts-->

<div class = "DanskeFacts">
    <div>
        Dropdown med facts overskrift
    </div>
    <div>
        Dropdown med facts 1
    </div>
    <div>
        Dropdown med facts 2
    </div>
    <div>
        Dropdown med facts 3
    </div>
</div>

<!-- Slut af forside dropdown danske facts-->
<!-- Start af forside valg af informationsside-->

<div class = "kat">
    <span>Forbruger + billede</span>
    <span>Virksomhed + billede</span>
    <span>Organisation + billede</span>
</div>

<!-- Slut af forside valg af informationsside-->
<!-- Start af forside footer-->

<footer>

</footer>

<!-- Slut af forside footer-->

</body>
</html>