<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI Projekt madspild 2023</title>
</head>
<link rel="stylesheet" href="../static/CSS/ProduktionStyle.css" />
<body>
<!-- Start af header -->
<div class = "baggrundsfarve">
    <header class = "header">
        <span class = "Logo">
            <img src="../static/Billeder/Logo.png" alt="Logo picture" width="100px" height="100px">
        </span>
        <span class = "LogoText">
             ...FEEDING THE FUTURE
        </span>

        <span class = "dropdown">

            <span class = "textToPicture">
            </span>
            <span class = "dropdown1">
                    FORBRUGER
                </span>
            <span class = "dropdown2">
                    VIRKSOMHED
                </span>
            <span class = "dropdown3">
                    PRODUKTION
            </span>
        </span>
        <hr class = "hr2">

    </header>

    <!-- Slut af header -->
    <!-- Start af forside overskift + tekst + billede -->

    <div class = "OversteTekst">
        <div>
            <img src="../static/Billeder/heinz.jpg" alt="Main page picture" class = "forsideBillede">
        </div>
        <div>
            <h1 class = "overskrift">Danmark mod madspild</h1>
        </div>
        <div class = "forsideTekst">
            Madspild er den uønskede og unødvendige tab af fødevarer,
            som opstår på forskellige stadier af fødevareproduktion, -distribution og -forbrug. Det kan ske på forskellige måder,
            såsom overskud af fødevarer, der ikke sælges i butikker, eller overskydende mad, der går til spilde i restauranter eller i husholdninger.
            Madspild kan også opstå på grund af dårlig håndtering og opbevaring af fødevarer, hvor de bliver ødelagt eller fordærvet, før de kan blive spist. Derudover kan madspild også skyldes en overproduktion af fødevarer, som ofte sker for at undgå tomme hylder i supermarkeder eller for at sikre, at der er nok mad til at imødekomme efterspørgslen.
            Madspild er et stort problem for både økonomien og miljøet. Det skaber ikke kun spild af ressourcer, men det bidrager også til den globale opvarmning ved at producere drivhusgasser under produktionen og transporten af fødevarer. Derudover kan det have alvorlige konsekvenser for fødevaresikkerheden, da det begrænser adgangen til mad for dem, der er i nød.
        </div>
    </div>
</div>

<hr class = "opdeling">

<div class = "fBaggrund1">
    <img src="../static/Billeder/produktionImprovement.jpg" alt="Main page picture" class = "forbrugerbillede1">
    <div class = "fSpan1">
        <p>Optimer produktionsprocesserne: Virksomheder kan overveje at optimere deres produktionsprocesser for at mindske spild. Dette kan omfatte at implementere mere præcise målinger og styring af ingredienser, justering af produktionslinjer for at reducere tab og affald, og overvågning af produktionen for at opdage og rette eventuelle problemer.</p>
        <p>Forbedr kvalitetskontrollen: Virksomheder kan investere i bedre kvalitetskontrol for at sikre, at produkterne er i overensstemmelse med de krævede standarder og derfor ikke bliver afvist og smidt væk på grund af fejl eller mangler.</p>
        <p>Optimer produktionsplanlægningen: Virksomheder kan planlægge deres produktion mere effektivt for at undgå overproduktion, som kan føre til spild. Dette kan omfatte at indsamle og analysere data om salgsprognoser og produktionstider, og bruge disse oplysninger til at justere produktionen og undgå overskud.</p>
    </div>
</div>

<div class = "fBaggrund2">
    <img src="../static/Billeder/reusability.jpeg" alt="Main page picture" class = "forbrugerbillede2">
    <div class = "fSpan2">
        <p>Implementer genanvendelsesprogrammer: Virksomheder kan implementere genanvendelsesprogrammer for at reducere spild og affald. Dette kan omfatte at genbruge ingredienser og rester til andre formål, som f.eks. dyrefoder, kompostering eller biogasproduktion.</p>
    </div>
</div>

<div class = "fBaggrund3">
    <img src="../static/Billeder/foodDonation.jpeg" alt="Main page picture" class = "forbrugerbillede3">
    <div class = "fSpan3">
        <p>Planlæg dine måltider: Planlæg dine måltider på forhånd, så du ved, hvad du vil spise i løbet af ugen. Tjek din madbeholdning i køleskabet, fryseren og skabe, og køb kun de nødvendige ingredienser for at undgå overkøb.</div></p>
</div>

<div class = "baggrundsfarveBund">
    <hr class = "opdelingBund">
    <div class = "kat">
        <span>Forbruger + billede</span>
        <span>Virksomhed + billede</span>
        <span>Organisation + billede</span>
    </div>
</div>

<!-- Slut af forside valg af informationsside-->
<!-- Start af forside footer-->

<footer>

</footer>

<!-- Slut af forside footer-->

</body>
</html>